:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #212121; 
}

/* Убираем центрирование */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block; 
}

/* Убираем ограничения для #app */
#app {
  padding: 0;
  margin: 0;
  text-align: left;
  max-width: 100%; 
}

/* Ссылки нормальные */
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f5f5f5;
    color: #212121;
  }
}